
* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
  size: 16px; 
  font-family: 'Open Sans Condensed', arial;
  font-weight: normal;
}

h1 {
  font-family: 'Caveat', sans-serif;
  font-size:34px;
  font-weight: normal;
  font-style: normal;
}

h3{
  margin-top:10px;
  margin-bottom:10px;
}

.page-content{
  transition: all 0.4s ease-in-out;
}

.page-content.is-visible{
  transform: translateX(250px);
  transition: all 0.4s ease-in-out;
}

/*=========================================================
//        SIDEBAR STYLING
=========================================================*/
.clicky{
  width: 50px;
  height: 50px;
}

.sidebar{
  padding: 20px;
  position:absolute; 
  top:0; 
  left:-200px; 
  visibility:hidden;
  /*background-image:url("black-felt.png"); */
  width:200px; 
  background-color:#ccc999; 
  color:white;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.sidebar.is-visible {
    transform: translateX(200px);
    visibility: visible;
}

.sidebar-toggle{
  position: absolute;
  top:0;
  left:0;
  transition: all 0.4s ease-in-out;
}

.sidebar-toggle.is-visible {
    transform: translateX(200px);
    visibility: visible;
    z-index: 5;
}

#colour-swatch{
  width: 100px;
  height: 100px;
  border: 1px solid white;
  margin:2px auto 5px auto;
  background-color: hsl(123,100%,100%);
}

.rule {
  margin: 20px 0 20px 0;
  color: white;
  border: 1px solid;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;

  border: none;
  color: #ffffff;
  background: #82beda;
  padding: 10px 20px 10px 20px;
  margin-bottom: 2px;
  text-decoration: none;
  width:160px;
  height: 45px;
  font-size: 16px; 
  font-family: 'Open Sans Condensed', arial; 
}



/*=========================================================
//        CHAT APP STYLING
//=========================================================*/
#chat-window {position:relative; margin-left:auto; margin-right:auto; width:60%;  margin-bottom:50px;  padding:0,10,5,10;}
#chat-text{background: #ccc999; max-height:10vh; overflow-y:scroll; overflow-x:hidden; padding:10px;}
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#send-button{float:right;}
#chat-input-window{width:100%; font-size:1.2em}
.myInput{text-align: right;}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; } 